/* Tạo kiểu cho phần tử <select> với các className mới */
.custom-select-container {
    position: relative;
    width: 100%;
}



/* Định dạng cho phần tử <select> */
.custom-select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: white; /* Màu nền xám tối */

    border: none;
    border-radius: 8px; /* Góc bo tròn */
    appearance: none; /* Ẩn đi các mặc định của trình duyệt (ví dụ: dấu mũi tên trong select) */
    cursor: pointer; /* Đổi con trỏ khi hover */
}



/* Thêm hiệu ứng khi select đang được focus */
.custom-select:focus {
    outline: none; /* Loại bỏ viền khi focus */
    border-color: #aaa; /* Thêm viền màu xám sáng khi focus */
}

/* Tùy chỉnh cho phần tử <option> */
.custom-option {
    background-color: white; /* Nền xám tối */

    padding: 8px 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Thêm hiệu ứng khi hover cho các <option> */
.custom-option:hover {
    background-color: #444 !important; /* Nền sáng hơn khi hover */
    color: #ddd; /* Màu chữ sáng hơn khi hover */
}

/* Thiết kế cho mũi tên của dropdown */
.custom-dropDownSelect {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Không cho phép click vào mũi tên */
}
/* Chỉnh sửa kiểu cho input số */
input[type="number"] {
    width: 100%;              /* Đảm bảo chiều rộng 100% */
    padding: 7px 15px;       /* Thêm khoảng đệm cho input */
    font-size: 16px;          /* Cỡ chữ */
    border: 1px solid #ccc;   /* Viền input */
    border-radius: 5px;       /* Bo góc cho viền */
    background-color: #fff; /* Màu nền */
    transition: all 0.3s ease; /* Hiệu ứng chuyển động khi hover hoặc focus */
  }
  
  /* Hiệu ứng khi input có focus */
  input[type="number"]:focus {
    outline: none;              /* Bỏ outline mặc định */
    background-color: #fff;     /* Thay đổi màu nền khi focus */
  }
  
  /* Thêm hiệu ứng hover khi di chuột qua input */
  input[type="number"]:hover {    /* Màu viền khi hover */
 
  }
  
  /* Style cho các nút tăng/giảm (tùy thuộc vào trình duyệt) */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    width: 20px;               /* Đặt chiều rộng cho nút */
    height: 20px;              /* Đặt chiều cao cho nút */
    background-color: #4caf50; /* Màu nền của nút */
    border-radius: 50%;        /* Bo tròn các góc của nút */
    border: 1px solid #3e8e41; /* Đặt viền cho nút */
    color: white;              /* Màu chữ (nếu có) */
    display: block;            /* Đảm bảo nút được hiển thị dưới dạng khối */
  }
  

  

  

  